<ion-view hide-nav-bar="false" view-title="页面">
<ion-content padding="true" style="background-color:#ffffff;">
<H1 style="color:#000000; text-align:left;">标题</H1><p style="color:#000000;font-size:14px;text-align:left;">请填写内容</p><button style="color:#ffffff;font-size:16px;text-align:center;font-weight:500;" class="button button-defaultbutton-standardbutton-positive">按钮</button><H1 style="color:#000000; text-align:left;">标题</H1><button style="color:#ffffff;font-size:16px;text-align:center;font-weight:500;" class="button button-defaultbutton-standardbutton-positive">按钮</button><div class="list lr-list-type3"><ion-item class="item item-icon-left"><i class="icon ion-ios-paper-outline b" ></i> <span>列表类型二</span></ion-item></div><div class="list lr-list-type3"><ion-item class="item item-icon-left"><i class="icon ion-ios-barcode-outline royal" ></i> <span>列表类型一</span></ion-item></div></ion-content>
</ion-view>

