<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=.;Initial Catalog=LeaRun;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Data Source=localhost;port=3306;Initial Catalog=LeaRunFramework_Base_2016;user id=root;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
 <!--<add name="BaseDb" connectionString="User Id=LR;Password=123;PERSIST SECURITY INFO=True;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=orcl)))"  providerName="Oracle.ManagedDataAccess.Client"/>-->
</connectionStrings>